.button-style{
    background: #2874f0;
    color: #fff;
    box-shadow: 0 2px 4px 0 rgb(0 0 0 / 20%);
    border: none;
    padding: 10px 20px;
    font-size: 13px;
    font-weight: 500;
    margin-left: 50%;
}
